extends base.jade
block title
	title= site.title
block content
    .container
      .posts
        from mixins import make_article
        +make_article()	
	  .sidebar
        from mixins import make_siteinfo
        +make_siteinfo()		
        from mixins import make_cat
        +make_cat()		
        from mixins import make_ad
        +make_ad()